@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,700&subset=latin,vietnamese,latin-ext);

#header2-3 .btn {
  font-family: 'Alegreya Sans', sans-serif;
}
#header2-3 H1 {
  font-size: 46px;
  text-align: right;
}
#header2-3 P {
  font-size: 32px;
}
#content4-l H4 {
  text-align: right;
}
#content5-f .mbr-section-title {
  font-size: 48px;
}
#content4-q H4 {
  text-align: right;
}
#content5-h .mbr-section-title {
  font-size: 48px;
}
#content4-p H4 {
  text-align: right;
}
#content5-g .mbr-section-title {
  font-size: 48px;
}
#content4-r H4 {
  text-align: right;
}
#content4-r P {
  text-align: left;
}
